AI Agent Resturant customer care.json
{
  "name": "AI Agent Resturant customer care",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        16
      ],
      "id": "2c6a51ab-70f6-4985-91bd-d77119deb7e8",
      "name": "When chat message received",
      "webhookId": "f13477db-3e39-425d-b3b4-e00c265c8450"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a customer care helpful assistant. Retrieve data from document tool to answer the questions of customers"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -32,
        16
      ],
      "id": "5df86523-7c86-42ec-a8c6-21c523adc17b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "maxTokensToSample": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -176,
        224
      ],
      "id": "f01062d5-396f-4d92-8548-a79b592847d3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "eEAwTsyLryR5f0y7",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        224
      ],
      "id": "2aa6698b-797d-45bd-8c31-a9fb3f4eae29",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1I1xQJNgT3K6hJv0IIULhuuvGWoADG53unXLNA2CENOk"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        128,
        224
      ],
      "id": "8f0d0357-56f4-4a95-ba75-e43deae67e83",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "NJKcRr3yuEW208Mb",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "268b4b58-baa3-4c88-b79e-f7b7c163936c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e34d4f16fd2f73d4f82dded53241303230640f99a43dcf2acc68045772a5eafb"
  },
  "id": "AYeocTOpyq8ZAOwG",
  "tags": []
}