Multilingual Speech to Text Converter for English and Urdu.json
{
  "name": "Multilingual Speech to Text Converter for English and Urdu",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "transcription",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "language",
              "value": "={{ $json.language }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "ca1521d2-eb86-4274-aaaf-bfa149f8d05c",
              "name": "Output",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "72403756-5baa-4e33-82a1-acfd4fe8daac",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        32
      ]
    },
    {
      "parameters": {
        "formTitle": "Speech to Text Converter",
        "formDescription": "Upload an audio file in English or Urdu to get the transcription",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Transcribe Audio",
              "fieldType": "file"
            }
          ]
        },
        "options": {
          "buttonLabel": "Transcribe Audio"
        }
      },
      "id": "a80569d3-54a0-4844-8d22-1f943475f26c",
      "name": "Upload Audio Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -240,
        32
      ],
      "webhookId": "8a657db0-274f-4b0e-9adf-608333a66860"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1HKkYihLZHU2SzlYKoiBHm8XlENuvwRQDfLKFOgQTiAc",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Transcribe a recording').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        352,
        -64
      ],
      "id": "ee1e9736-80bf-44a3-a092-b9e81712db67",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "H9yXakUK3Bcv9eb4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "binaryPropertyName": "Transcribe_Audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        32
      ],
      "id": "1078caa2-b550-46a9-b4e3-1bb1831bc410",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "CBYBkXdCMepZhxq0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1znAu8W3-zjzGOsf17U43ZcPB5_pEDvuLtgJvai5uU8A",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        496,
        144
      ],
      "id": "79c939f8-6822-4071-b0df-3bfb9df9534b",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "H9yXakUK3Bcv9eb4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "text": "hi",
        "translateTo": "en"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        320,
        144
      ],
      "id": "24e21209-88aa-457f-9f5c-dd03128f95c7",
      "name": "Translate a language",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "IY1zBL9DtWa2aXFQ",
          "name": "Google Translate account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        656,
        -48
      ],
      "id": "cf92ae56-0071-4db7-8ef6-fe0dc2ea57c6",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YFM2Y4vRreJukRrp",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        208
      ],
      "id": "8bfa6d72-2cfb-48ba-9e80-6e62505dc048",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "CBYBkXdCMepZhxq0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        816,
        192
      ],
      "id": "46babb40-24aa-46f3-a177-c10aabb20c93",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Audio Form": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Translate a language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        []
      ]
    },
    "Translate a language": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "607c164d-5ccf-4fba-ac2d-df046d6d5177",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "febbf655cf547f6116fec857f19f006a52d350ce3a58e941a971ac5c21c31561"
  },
  "id": "isMJ9aur2XiUjWpw",
  "tags": []
}