Teligram RAG AI With Supabase updated.json
{
  "name": "Teligram RAG AI With Supabase updated",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_name"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        528
      ],
      "id": "c04e1851-4eed-4ebc-827b-39dc497758e3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Retrieve the data from file to answer the questions"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        496,
        16
      ],
      "id": "13db5df6-0b3f-4786-96ea-469ad282bed9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}",
        "tableName": ""
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        560,
        208
      ],
      "id": "6f523e43-79f3-4a37-9962-ed1bc08ba34c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "BUZRTWT9f35eqD9C",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        208
      ],
      "id": "a156e7cc-6094-4811-a2e5-4ceb059920aa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ysKWuO9HPJN4KdmT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        336
      ],
      "id": "fa12f44c-807f-4f85-98ed-fbab18defe21",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1GkOxx8kqpLRZQgZSkpjH8FyB74dZ6m98",
          "mode": "list",
          "cachedResultName": "Human-Self-and-Allah-_-Final-Version-ERasool.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1GkOxx8kqpLRZQgZSkpjH8FyB74dZ6m98/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        16,
        336
      ],
      "id": "87fac8a7-1ae1-4552-9c8b-a91e79b2841c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HJkfeps1RZVq0lmo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1GkOxx8kqpLRZQgZSkpjH8FyB74dZ6m98",
          "mode": "list",
          "cachedResultName": "Human-Self-and-Allah-_-Final-Version-ERasool.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1GkOxx8kqpLRZQgZSkpjH8FyB74dZ6m98/view?usp=drivesdk"
        },
        "options": {
          "fileName": "human self and allah"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        336
      ],
      "id": "c2101d8a-6422-47ac-b832-efb63a04fbb0",
      "name": "Download file",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HJkfeps1RZVq0lmo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        16
      ],
      "id": "35f17638-852b-428d-94db-eff597946221",
      "name": "Telegram Trigger",
      "webhookId": "86cb4060-c249-44df-b0c4-225e198c1e91",
      "credentials": {
        "telegramApi": {
          "id": "7Edq404W0qxtvJFT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        16
      ],
      "id": "48261346-68e5-4360-9dcc-5db17686ab3c",
      "name": "Send a text message",
      "webhookId": "07dcfeae-7b67-4e59-b426-ba0fcbcdf392",
      "credentials": {
        "telegramApi": {
          "id": "7Edq404W0qxtvJFT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        352
      ],
      "id": "0670a382-6fab-4d17-8686-62e0187ae729",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "IZRpSyk7LKtu4BOC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve text from supabase vector store",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        688,
        208
      ],
      "id": "8336cd52-7730-4c25-aa09-3ebf262d0419",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "IZRpSyk7LKtu4BOC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        512
      ],
      "id": "774b3190-78d2-40e8-92f6-afd650683286",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ysKWuO9HPJN4KdmT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4d9a58dc-714a-4dd0-b631-7d54cdc8d1d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e34d4f16fd2f73d4f82dded53241303230640f99a43dcf2acc68045772a5eafb"
  },
  "id": "YwDH5IeAgf1ZbuKt",
  "tags": []
}