Whatsapp RAG AI New one file (1).json
{
  "name": "Whatsapp RAG AI New one file",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        800,
        576
      ],
      "id": "9e5bb73f-23d4-42ea-af96-8bf965449b6b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "IZRpSyk7LKtu4BOC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        880,
        800
      ],
      "id": "70ed62d1-3a75-4564-88a4-f7793e078764",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Retrieve the data from file to answer the questions"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        -32
      ],
      "id": "bd4c0cd1-993b-407d-9b66-55758d4356dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve answers for query from input chat",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        432,
        192
      ],
      "id": "4fbe9c59-9e73-40f9-a65c-48dbad011930",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "IZRpSyk7LKtu4BOC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].text.body }}",
        "tableName": ""
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        304,
        192
      ],
      "id": "94335a48-7a38-4bca-b404-3a67c4e0a4fd",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "BUZRTWT9f35eqD9C",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        192
      ],
      "id": "65363b3b-6c4f-44b9-b504-375e3b451819",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ysKWuO9HPJN4KdmT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1pCcVy_7mP12EVLtK86GX6KduvMrZr5jY",
          "mode": "list",
          "cachedResultName": "Reasons-For-Decline-Of-Muslims-ByGA-Parwez.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1pCcVy_7mP12EVLtK86GX6KduvMrZr5jY/view?usp=drivesdk"
        },
        "options": {
          "fileName": "reason for decline"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        576
      ],
      "id": "3e438f47-bd83-4d09-9247-81a0bb093d60",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HJkfeps1RZVq0lmo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        576
      ],
      "id": "6d340b26-b53c-48e0-b024-ad287b59c804",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        176
      ],
      "id": "940e9cee-25a4-40f8-9c11-81f5a0d6adfc",
      "name": "WhatsApp Trigger",
      "webhookId": "daff48f5-7516-4e4a-90f6-7dc727b23543",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "E7ClYgSi0GDyc5MX",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "864227166765913",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        864,
        176
      ],
      "id": "a9fde343-0238-4138-aa0b-4cba3d9219f1",
      "name": "Send message",
      "webhookId": "dac55e62-3128-4517-9c04-32fa64465a72",
      "credentials": {
        "whatsAppApi": {
          "id": "qG251tCKJh8ICyHI",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        416
      ],
      "id": "be717d58-d7cb-4447-b1d6-b5d3d1ad07d5",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ysKWuO9HPJN4KdmT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e78867f3-eb1e-4e5a-8537-787d40f5c203",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e34d4f16fd2f73d4f82dded53241303230640f99a43dcf2acc68045772a5eafb"
  },
  "id": "5EjBh4wmcB1aGQu3",
  "tags": []
}